* {
    box-sizing: border-box;
    font-family: 'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color_white: rgb(243, 243, 243);
    --color_yellow: #FFD633;
    --color_black: #333;
    --color_blue_start: #19283D;
    --color_blue_end: #1D678F;
    --color_rain: #4DACFF;
    --color_white_cloud: rgb(242, 249, 254);
    --color_grey_cloud: #ccc;
}

body{
    position: relative;
    /* background: linear-gradient(#C2FFF9,#94DAFF); */
    background-color: #c7e4ec;;
    background-repeat: no-repeat;
    min-height: 100vh;    
}

body::before{
    content: '';
    position: fixed;
    bottom: -15%;
    left: 25%;
    width: 40%;
    height: 60%;
    background-image: url(../img/clound.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    z-index: -1; 
}

body::after{
    content: '';
    position: fixed;
    bottom: -25%;
    right:-13%;
    width: 50%;
    height: 100%;
    background-image: url(../img/sun.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;    
}

/*以下為老師給的svg圖檔的CSS*/
.sunny {
    width: 180px;
    height: 180px;
    fill: rgba(255, 214, 51, 1);
    stroke: rgba(255, 214, 51, 0.5);  /*描邊*/
    stroke-dasharray: 3px; /*虛線*/
    stroke-width: 15px; /*線寬*/
}

#sun {
    fill: rgba(255, 214, 51, 1);
    stroke: rgba(255, 214, 51, 0.5);
    stroke-dasharray: 3px;     
    stroke-width: 15px;
}

.cloudy_sunny {
    width: 180px;
    height: 180px;
}

.cloudy {
    width: 180px;
    height: 180px;
}

#cloud {
    fill: rgb(242, 249, 254);
}

#cloud2 {
    fill: rgb(225, 241, 252);
}


.overcast {
    width: 180px;
    height: 180px;
}

#overcast_cloud {
    fill: rgb(209, 209, 209);
}

#overcast_cloud2 {
    fill: rgb(150, 146, 146);
}

.rainy {
    width: 180px;
    height: 180px;
}
.rainy_thunder{
    width: 180px;
    height: 180px;
}

#rain {
    /* fill: rgb(221, 234, 247); */
    fill: rgb(138, 186, 235);
}

#thunder{
    fill: rgba(255, 214, 51, 1);
    stroke:rgba(255, 214, 51, 1);
    stroke-width: 1;
}
/*以上為老師給的svg圖檔的CSS*/


.container{
    display: flex;
    flex-wrap: wrap;
}

/* 以下為地圖的CSS */
#Taiwan{
    width: 43%;
    position: fixed;
    top: 0;
    left: 0;
}

.location{
    fill:#FFFFFF;
    stroke:#231815;
    stroke-miterlimit:10;     
}

.northern-region>.location{
    fill:#9FD8DF;
}

.central-region>.location{
    fill:#FFD384;
}

.southern-region>.location{
    fill:#F5C0C0;
}

.eastern-region>.location{
    fill:#91C788;
}

.outlying-islands>.location{
    fill:#d89069;
}

.location:hover,.regionActive{
    transform: translate3d(-5px,-10px,100px); /*x軸 y軸 z軸*/
    filter: brightness(0.95) drop-shadow(12px 12px 5px  rgba(0, 0, 0, 0.7));
            /*條亮度 1為正常, 愈大愈亮,愈小愈暗*/  /*物體本身形體的陰影 x偏移 y偏移 模糊程度 顏色*/
}

.location:active{
    transform: translate3d(0,0,0);  
    filter: brightness(1);
}

.regionActive{
    transition: 0.3s linear;    
}

/* 以上為地圖的CSS */

/* 以下為nav-bar的CSS */
.nav-bar{
    position: fixed;
    display: flex;
    right: 0;
    width: 49.2%;
    background-color: #DED9C4;
    border-radius: 0 0 0 10px;
    border-left: 2px solid #5c5c5e;
    border-bottom: 2px solid #5c5c5e;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.nav-btn{
    /* border:1px solid #000000; */
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.selectCardVersion{
    position: absolute;;
    left: 9px;
    width: 80px;
    height: 100%;
    background-color: #cec5a4;
    z-index: -2;
}

@keyframes selectSlidingRight {
    0%{
        transform: translateX(0);
        /* left: 1.25%; */
    }
    100%{
        transform: translateX(80px);
        /* left: 11.7%; */
    }
}

@keyframes selectSlidingLeft {
    0%{
        transform: translateX(80px);
        /* left: 11.7%; */
    }
    100%{
        transform: translateX(0);
        /* left: 1.25%; */
    }
}


.nav-btn:first-child{
    margin-left: 10px;
}

.nav-btn:hover::after{
    content: '';
    position: absolute;
    bottom: 15%;
    transform: translateX(-5.2%);
    background-color: #000000;
    border: 1px solid #000000;
    width: 65px;
    display: block;  
}

.currentTime{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    margin: 0 auto;
    color: #897853;
}

.search-bar{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.search-input{
    height: 60%;
    margin-right: 5px;
    padding-left: 10px;
}

.search-btn{
    border: 1px solid #000000;
    margin-right: 15px;
    padding: 5px 10px;
    text-align: center;

    text-decoration: none;
    color: rgb(68, 68, 68);
    border-radius: 5px;
    background-color: #DED9C4;
}
.search-btn:hover{
    background-color: #ffffff;
    
}
.search-btn:active{
    background-color: #cec5a4;
}

/* 以上為nav-bar的CSS */


/* 以下為天氣卡片區的CSS */
.cards{
    margin-left: auto;
    width: 50%;
    margin-top: 70px;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}

.card{
    display: inline-block;
    width: 200px;
    border-radius: 5px 5px 15px 15px;           
    margin: 40px 15px 20px;
    /* background:  rgba(255, 255, 255, 0.3); */
    background:  #bea775;   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5); 
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 0;
}


.content h2{
    text-align: center;
    font-size: 30px;
    margin: -20px 0px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #5c5c5e;
    color: #FFEACA;
    font-weight: 900;
    z-index:0;    
}

.content h2::before{
    content: '';
    position: absolute;
    left: 49.5%;
    transform: translateX(-50%);
    width: 44%;
    height: 16.7%;
    padding: 0 20px;
    background-color: #BB8760;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5); 
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    /* filter: drop-shadow(1px 0px 1px  rgba(0, 0, 0, 0.5)); */
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
    z-index: -1;
}

.time-period{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    position: relative;
    z-index: 0;   
}

.time-period span{
    font-size: 15px;
}

.time-period:nth-child(2) {
    background-color: #FEF7DC;
}

.time-period:nth-child(3) {
    background-color: #E6DDC6;
}

.time-period:nth-child(4) {
    border-radius: 0px 0px 15px 15px; 
    background-color: #C2B8A3;
}

.time-period h3{
    font-size: 15px;
    margin-left: 10px;
    color: #897853;
}

.time-period h3:first-child{
    padding-top: 10px;
}

.time-period h4{
    font-size: 20px;
    margin-left: 10px;  
    color: #4F0E0E;
}

.time-period h5{
    margin-left: 10px;
    color: #835151;

}
.time-period h6{
    margin: 0px 10px 0px 10px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid  #e469226c; */
    color: rgb(146, 70, 16);
    font-weight: 900;
}

.time-period svg {
    position: absolute;
    top: -5%;
    left: 50%;
    width: 50%;
    z-index: -1;
}
/* 以上為天氣卡片區的CSS */

/* 以下為沒找到的的CSS */
.not-found{
    position: absolute;
    top:13%;
    right: 19%;
    width: 30%;
    height: 20%;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #C2B8A3;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5); 
    border-left: 1px solid rgba(255, 255, 255, 0.8);
}

.not-found h1{
    color: #4F0E0E;
}

/* 以上為沒找到的的CSS */


/* 以下為地區按鈕的CSS */
.region-btns{
    position: fixed;
    top: 5%;
    left: 38%;
    display: flex;
    flex-direction: column;
    z-index: 1;     
}

.region-btn{
    margin: 0 0 20px 0;
    padding: 5px 10px;
    width: 40px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    border-radius: 40px;
    color: rgb(68, 68, 68);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.region-btn:hover{
    height: 97px;
}

.region-btn:active{
    transform: scale(0.8);    
}

.all-region-btn{
    background:#C9CBFF;
}

.northern-region-btn{
    background:#9FD8DF;
}

.central-region-btn{
    background:#FFD384;
}

.southern-region-btn{
    background:#F5C0C0;
}

.eastern-region-btn{
    background:#91C788;
}

.outlying-islands-btn{
    background:#d89069;
}
/* 以上為地區按鈕的CSS */